GtkListBoxRow {
    border-radius: 4px;
    border-width: 1px;
    background-image: linear-gradient(to bottom,
                                      shade(shade(#cecece, 1.02), 1.05),
                                      shade(shade(#cecece, 1.02), 0.97)
                                      );
}
#title {
    text-shadow: 0 1px shade(#cecece, 1.2);
}
